<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->

    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" media="all">
    <link href="{{ url_for('static',filename='css/style.css') }}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->

    <link href="{{ url_for('static',filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
        rel="stylesheet">
</head>

<body>
    <!-- Slider -->
    <script>
        console.log(request.get.cookie("user"))
    </script>
    <div class="w3-banner-info-w3ltd position-relative">
        <!-- header -->
        <header>
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <h1><a class="navbar-brand" href="index.html">Recruit

                        </a></h1>
                    <button class="navbar-toggler ml-lg-auto ml-sm-5 bg-light" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="ml-lg-5 navbar-nav mr-lg-auto">
                            <li class="nav-item active  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a href="main_page">Home</a>
                            </li>
                            <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a href="find_frame">企业情况查询</a>
                            </li>
                            <li class="nav-item  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a href="analyse_frame">企业情况分析</a>
                            </li>
                            <li class="nav-item mr-lg-4 my-lg-0 mb-sm-4 mb-3">
                                <a href="modify_frame">企业信息修改</a>
                            </li>
                        </ul>
                        <li class="nav-item active  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a href="regist">Regist</a>
                        </li>
                        <li class="nav-item active  mr-lg-4 mt-lg-0 mt-sm-4 mt-3">
                                <a href="user">Sign In</a>
                        </li>
                    </div>
                </nav>
            </div>
        </header>
        <!-- //header -->
        <div class="slider">
            <ul class="rslides" id="slider">
                <li>
                    <div class="d-flex banner-w3pvt-bg1 common-bg">
                        <div class="d-flex mx-auto align-items-center justify-content-center flex-column">
                            <div class="bnr-w3pvt">
                                <h3>查询企业</h3>
                                <div class="d-flex justify-content-between bnr-sub-txt align-items-center">
                                    <span></span>
                                    <p class="text-uppercase text-white">快速查询</p>
                                    <span></span>
                                </div>
                            </div>
                            <div class="row justify-content-between bnr-form-w3ls">
                                <div class="col-lg-4">
                                    <h4>帮助你快速查询企业信息.</h4>
                                </div>
                                <div class="col-lg-8">
                                    <form action="job_list.html" method="post" class="bnr-field">
                                        <div class="row">
                                            <div class="col-md-5 form-group mb-md-0">
                                                <label class="text-capitalize">
                                                    公司名称
                                                </label>
                                                <input class="form-control" type="text" name="name" required=""
                                                    placeholder="Job title,Keywords">
                                            </div>
                                            <div class="col-md-5 mb-md-0 form-group">
                                                <label class="text-capitalize">
                                                    公司地区
                                                </label>
                                                <input class="form-control" type="text" name="place" required=""
                                                    placeholder="City,State,zip">
                                            </div>
                                            <div class="col-md-2 d-flex align-items-end">
                                                <button type="submit" class="btn btn-w3ltd btn-block w-100 bg-theme font-weight-bold text-uppercase"><span
                                                        class="fa fa-search"></span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="d-flex banner-w3pvt-bg2 common-bg">
                        <div class="d-flex mx-auto align-items-center justify-content-center flex-column">
                            <div class="bnr-w3pvt">
                                <h3>公司情况分析</h3>
                                <div class="d-flex justify-content-between bnr-sub-txt align-items-center">
                                    <span></span>
                                    <p class="text-uppercase text-white">快速分析</p>
                                    <span></span>
                                </div>
                            </div>
                            <div class="row justify-content-between bnr-form-w3ls">
                                <div class="col-lg-4">
                                    <h4>帮助你快速分析.</h4>
                                </div>
                                <div class="col-lg-8">
                                    <form action="http://127.0.0.1:8777/analyse" method="get" class="bnr-field">
                                        <div class="row">
                                            <div class="col-md-5 form-group mb-md-0">
                                                <label class="text-capitalize">
                                                    股票代码
                                                </label>
                                                <input class="form-control" type="text" name="socket_code" required=""
                                                    placeholder="Job title,Keywords">
                                            </div>
                                            <div class="col-md-5 mb-md-0 form-group">
                                                <label class="text-capitalize">
                                                    发行年份
                                                </label>
                                                <input class="form-control" type="text" name="years" required=""
                                                    placeholder="City,State,zip">
                                            </div>
                                            <div class="col-md-2 d-flex align-items-end">
                                                <button type="submit" class="btn btn-w3ltd bg-theme btn-block w-100 font-weight-bold text-uppercase"><span
                                                        class="fa fa-search"></span></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
    <!-- //Slider -->
    <!--partners  -->
    <div class="w3ltdits-partners bg-theme" id="partners">
        <div class="container pt-4">
            <div class="title-wthree text-center">
                <h3 class="w3ltd-title">
                    团队：徐晨 江长久 刘洋凡 邵羽 陕杰才
                </h3>
                <span></span>
            </div>
            <ul class="list-unstyled py-md-5 py-3 partners-icon text-center">
                <li>
                    <span class="fa fa-lastfm-square" aria-hidden="true"></span>
                </li>
                <li>
                    <span class="fa fa-meanpath" aria-hidden="true"></span>
                </li>
                <li>
                    <span class="fa fa-behance-square" aria-hidden="true"></span>
                </li>
                <li>
                    <span class="fa fa-cc-discover" aria-hidden="true"></span>
                </li>
                <li>
                    <span class="fa fa-cc-stripe" aria-hidden="true"></span>
                </li>
                <li>
                    <span class="fa fa-cc-jcb" aria-hidden="true"></span>
                </li>
            </ul>
        </div>
    </div>
    <!-- //partners -->
    <!-- about -->
