<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
		<!-- Google Chrome Frame也可以让IE用上Chrome的引擎: -->
		<meta name="renderer" content="webkit">
		<!--国产浏览器高速模式-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="信息学院" />
		<!-- 作者 -->
		<meta name="revised" content="数据库.v3, 2019/12/13" />
		<!-- 定义页面的最新版本 -->
		<meta name="description" content="网站简介" />
		<!-- 网站简介 -->
		<meta name="keywords" content="搜索关键字，以半角英文逗号隔开" />
		<title>企业系统分析网站</title>

		<!-- 公共样式 开始 -->
		<link rel="shortcut icon" href=" {{ url_for('static',filename='images/bg.jpg') }}"/>
		<link rel="bookmark" href="{{ url_for('static',filename='images/bg.jpg') }}">

		<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/base.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/iconfont.css') }}">
		<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-1.11.3.min.js') }}" ></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='layui/css/layui.css') }}">
		<script type="text/javascript" src=" {{ url_for('static',filename='layui/layui.js') }}"></script>

		<!-- 滚动条插件 -->




		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.mCustomScrollbar.css') }}">
		<script src="{{ url_for('static',filename='js/jquery-ui-1.10.4.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/jquery.mousewheel.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/jquery.mCustomScrollbar.min.js') }}"></script>
		<script src="{{ url_for('static',filename='js/cframe.js') }}"></script><!-- 仅供所有子页面使用 -->
		<!-- 公共样式 结束 -->
		
		<link rel="stylesheet" type="text/css" href=" {{ url_for('static',filename='css/frameStyle.css') }}">
		<script type="text/javascript" src=" {{ url_for('static',filename='js/frame.js') }}" ></script>
		
	</head>

	<body>
		<!-- 左侧菜单 - 开始 -->
		<div class="frameMenu">
		    <div class="logo">
		        <img src="{{ url_for('static',filename='images/logo.png') }}"/>
		        <div class="logoText">
		            <h1>信息学院出品</h1>
		            <p>RUC info</p>
		        </div>
		    </div>
		    <div class="menu">
		        <ul>

		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-liuliangyunpingtaitubiao03 left"></i>增加企业信息<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('insert_company_info',this)">增加公司信息</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('insert_socket_info',this)">增加股票信息</a></dt>
                            <dt><a href="javascript:void(0)" onclick="menuCAClick('insert_trade_info',this)">增加交易信息</a></dt>
                            <dt><a href="javascript:void(0)" onclick="menuCAClick('insert_crime_info',this)">增加公司涉案情况</a></dt>

		                </dl>
		            </li>
		        	<li>
		                <a class="menuFA" href="javascript:void(0)"><i class="iconfont icon-shangpin left"></i>修改企业信息<i class="iconfont icon-dajiantouyou right"></i></a>
		                <dl>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('modify_company_info',this)">修改公司信息</a></dt>
		                	<dt><a href="javascript:void(0)" onclick="menuCAClick('modify_socket_info',this)">修改股票信息</a></dt>


		                </dl>
		            </li>

		        </ul>
		    </div>
		</div>
		<!-- 左侧菜单 - 结束 -->
		
		<div class="main">
			<!-- 头部栏 - 开始 -->
			<div class="frameTop">

				<div class="topMenu">
					<ul>
						<li><a href="main_page"><i class="iconfont icon-xiugaimima"></i>主界面</a></li>
						<li><a href="javascript:void(0)" onclick="menuCAClick('tgls/modify_password.html',this)"><i class="iconfont icon-yonghu1"></i>管理员</a></li>
						<li><a href="modify_password_html"><i class="iconfont icon-xiugaimima"></i>修改密码</a></li>
						<li><a href="login.html"><i class="iconfont icon-084tuichu"></i>注销</a></li>
					</ul>
				</div>
			</div>
			<!-- 头部栏 - 结束 -->
			
			<!-- 核心区域 - 开始 -->
			<div class="frameMain">
				<div class="title" id="frameMainTitle">
					<span><i class="iconfont icon-xianshiqi"></i>后台首页</span>
				</div>
				<div class="con">
					<iframe id="mainIframe" src="tgls/qdAPI.html" scrolling="no"></iframe>
				</div>
			</div>
			<!-- 核心区域 - 结束 -->
		</div>
	</body>

</html>